
.about-us-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .about-us-container h2 {
    font-size: 38px;
    color: #333;
    margin-bottom: 20px;
  }
  .about-us-container p {
    font-size: 20px;
    line-height: 1.6;
    color: #666;
    margin-bottom: 15px;
  }
  
  .about-us-container p:last-child {
    margin-bottom: 0;
  }
  